<a href="https://colab.research.google.com/github/mahee7788/Assignment_1_16358619/blob/main/ICP5_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
import pandas as pd
print(pd.__version__)

2.2.2

In [41]:
url = 'https://drive.google.com/uc?id=1WNAFwIBwd-Of_iyzmLyzo021c2guy-6W'
df = pd.read_csv(url)

In [42]:
pd.set_option('display.max_columns', None)
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [43]:
df.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [44]:
df.shape

(985, 12)

In [45]:
column_count = df.shape[1]

In [46]:
mean_price = df['price'].mean()

In [47]:
median_price = df['price'].median()

In [48]:
print(f"Number of columns: {column_count}")
print(f"Mean house price: ${mean_price:.2f}")
print(f"Median house price: ${median_price:.2f}")

Number of columns: 12
Mean house price: $234144.26
Median house price: $213750.00

In [49]:
property_types = df['type'].unique()
property_types

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

In [50]:
max_condo_price = df[df['type'] == 'condo']['price'].max()
max_condo_price

nan

In [51]:
df_cleaned = df.dropna(subset=['type', 'price'])
print(df_cleaned)

                  street             city    zip state  beds  baths  sq__ft  \
0           3526 HIGH ST       SACRAMENTO  95838    CA     2      1     836
1            51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167
2         2796 BRANCH ST       SACRAMENTO  95815    CA     2      1     796
3       2805 JANETTE WAY       SACRAMENTO  95815    CA     2      1     852
4        6001 MCMAHON DR       SACRAMENTO  95824    CA     2      1     797
..                   ...              ...    ...   ...   ...    ...     ...
980   9169 GARLINGTON CT       SACRAMENTO  95829    CA     4      3    2280
981      6932 RUSKUT WAY       SACRAMENTO  95823    CA     3      2    1477
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610    CA     3      2    1216
983     8304 RED FOX WAY        ELK GROVE  95758    CA     4      2    1685
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

            type                     sale_date   price   latitude   longitude
0    Residential  Wed May 21 00:00:00 EDT 2008   59222  38.631913 -121.434879
1    Residential  Wed May 21 00:00:00 EDT 2008   68212  38.478902 -121.431028
2    Residential  Wed May 21 00:00:00 EDT 2008   68880  38.618305 -121.443839
3    Residential  Wed May 21 00:00:00 EDT 2008   69307  38.616835 -121.439146
4    Residential  Wed May 21 00:00:00 EDT 2008   81900  38.519470 -121.435768
..           ...                           ...     ...        ...         ...
980  Residential  Thu May 15 00:00:00 EDT 2008  232425  38.457679 -121.359620
981  Residential  Thu May 15 00:00:00 EDT 2008  234000  38.499893 -121.458890
982  Residential  Thu May 15 00:00:00 EDT 2008  235000  38.708824 -121.256803
983  Residential  Thu May 15 00:00:00 EDT 2008  235301  38.417000 -121.397424
984  Residential  Thu May 15 00:00:00 EDT 2008  235738  38.655245 -121.075915

[985 rows x 12 columns]

In [52]:
max_condo_price = df[df['type'] == 'condo']['price'].max()
max_condo_price

nan

In [53]:
mean_price_by_type = df.groupby('type')['price'].mean().round(0).astype(int)
mean_price_by_type

type
Condo           150082
Multi-Family    224535
Residential     239186
Unkown          275000
Name: price, dtype: int64

In [54]:
property_type_counts = df['type'].value_counts()
property_type_counts

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64